body{
    font-family: "DM Mono", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.topnav{
    overflow: hidden;
}

a{
    overflow: hidden;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: white;
}

.main{
    position:relative;
    background-color: rgba(0, 0, 0, 0);
    left: 47px;
    right: 34px;
    top: 100px;
    height: 450px;
    border: solid 1px black;
}

/* Upper Box */

.resume_upper_box1{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 47px;
    right: 34px;
    top: 67px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.resume_upper_textbox{
    display: block;
    text-align: justify;
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-stretch: ultra-expanded;
    color: black;
}

.resume_upper_box2{
    position: absolute;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 60px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

/* Middle Box */

.resume_middle_box2{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 157px;
    height: 200px;
    border: solid 2px black;
    z-index: 1;
}

.resume_middle_textbox{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 35;
    color: black;
}

.resume_middle_box1{
    position: absolute;
    background-color: white;
    left: 230px;
    right: 230px;
    top: 150px;
    height: 200px;
    border: solid 2px black;
    z-index: 2;
}

/* Lower Box */

.resume_lower_box1{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 47px;
    right: 34px;
    top: 624px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.resume_lower_textbox{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 50;
    font-size: 13;
    color: black;
}

.resume_lower_box2{
    position: absolute;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 617px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.resume_lower_box3{
    position: absolute;
    text-align: center;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 2217px;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0);
}

.resume_lower_box4{
    position: absolute;
    text-align: center;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 2317px;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0);
    font-size: 13px;
    font-style: italic;
    color: black;
}

/* Navigations*/

.resume_nav12{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 417px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.resume_nav_textbox1{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.resume_nav11{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 410px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.resume_nav11:hover{
    background-color: white;
}

.resume_nav11:hover a{
    color: black;
}

.resume_nav22{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 477px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.resume_nav_textbox2{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.resume_nav21{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 470px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.resume_nav21:hover{
    background-color: white;
}

.resume_nav21:hover a{
    color: black;
}

.resume_nav32{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 534px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.resume_nav_textbox3{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.resume_nav31{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 527px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.resume_nav31:hover{
    background-color: white;
}

.resume_nav31:hover a{
    color: black;
}

.resume_nav42{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 2277px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.resume_nav_textbox4{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.resume_nav41{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 2270px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.resume_nav41:hover{
    background-color: white;
}

.resume_nav41:hover a{
    color: black;
}

/* Resume */
/* Paddling */
.resume_box12{
    position: absolute;
    background-color: white;
    left: 237px;
    right: 224px;
    top: 624px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0);
    z-index: 1;
}

.resume_textbox1{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: black;
}

.resume_box11{
    position: absolute;
    background-color: white;
    left: 230px;
    right: 230px;
    top: 617px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0);
    z-index: 2;
}

.resume_box13{
    position: absolute;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 657px;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0);
}

/* Actual */
.resume_box22{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 717px;
    height: 1500px;
    border: solid 2px black;
    z-index: 1;
}

.resume_textbox2{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 30;
    font-size: 1;
    color: black;
}

.resume_box21{
    position: absolute;
    background-color: white;
    left: 230px;
    right: 230px;
    top: 710px;
    height: 1500px;
    border: solid 2px black;
    z-index: 2;
}

.resume_textbox3{
    position: absolute;
    display: block;
    text-align: justify;
    font-style: inherit;
    font-family: "DM Mono", sans-serif;
    font-weight: 60;
    font-size: 17;
    color: black;
}

.resume_textbox4{
    display: block;
    text-align: justify;
    font-family: "DM Mono", sans-serif;
    font-style: initial;
    font-weight: 30;
    font-size: 15;
    color: black;
}

iframe{
    position: absolute;
    display: block;
    border: solid 2px black;
    text-align: center;
}