body{
    font-family: "DM Mono", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.topnav{
    overflow: hidden;
}

a{
    overflow: hidden;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: white;
}

/* Upper Box */

.tableau_upper_box1{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 47px;
    right: 34px;
    top: 67px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_upper_textbox{
    display: block;
    text-align: justify;
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    font-stretch: ultra-expanded;
    color: black;
}

.tableau_upper_box2{
    position: absolute;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 60px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

/* Middle Box */

.tableau_middle_box2{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 157px;
    height: 200px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_middle_textbox{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 35;
    color: black;
}

.tableau_middle_box1{
    position: absolute;
    background-color: white;
    left: 230px;
    right: 230px;
    top: 150px;
    height: 200px;
    border: solid 2px black;
    z-index: 2;
}

/* Lower Box */

.tableau_lower_box3{
    position: absolute;
    text-align: center;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 1657px;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0);
}

.tableau_lower_box4{
    position: absolute;
    text-align: center;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 1757px;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0);
    font-size: 13px;
    font-style: italic;
    color: black;
}

/* Navigations*/

.tableau_nav12{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 417px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_nav_textbox1{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.tableau_nav11{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 410px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.tableau_nav11:hover{
    background-color: white;
}

.tableau_nav11:hover a{
    color: black;
}

.tableau_nav22{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 477px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_nav_textbox2{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.tableau_nav21{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 470px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.tableau_nav21:hover{
    background-color: white;
}

.tableau_nav21:hover a{
    color: black;
}

.tableau_nav32{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 534px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_nav_textbox3{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.tableau_nav31{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 527px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.tableau_nav31:hover{
    background-color: white;
}

.tableau_nav31:hover a{
    color: black;
}

.tableau_nav42{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 1717px;
    height: 40px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_nav_textbox4{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: white;
}

.tableau_nav41{
    position: absolute;
    background-color: black;
    left: 230px;
    right: 230px;
    top: 1710px;
    height: 40px;
    border: solid 2px black;
    z-index: 2;
}

.tableau_nav41:hover{
    background-color: white;
}

.tableau_nav41:hover a{
    color: black;
}

/* Resume */
/* Paddling */
.tableau_box12{
    position: absolute;
    background-color: white;
    left: 237px;
    right: 224px;
    top: 624px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0);
    z-index: 1;
}

.tableau_textbox1{
    display: block;
    text-align: center;
    font-family: "DM Mono", sans-serif;
    font-style: oblique;
    font-weight: 50;
    font-size: 15;
    color: black;
}

.tableau_box11{
    position: absolute;
    background-color: white;
    left: 230px;
    right: 230px;
    top: 617px;
    height: 40px;
    border: solid 1px rgba(0, 0, 0, 0);
    z-index: 2;
}

.tableau_box13{
    position: absolute;
    background-color: white;
    left: 40px;
    right: 40px;
    top: 657px;
    height: 60px;
    border: solid 1px rgba(0, 0, 0, 0);
}

/* Actual */
.tableau_box22{
    position: absolute;
    background-color: rgb(238, 238, 238);
    left: 237px;
    right: 224px;
    top: 717px;
    height: 940px;
    border: solid 2px black;
    z-index: 1;
}

.tableau_box21{
    position: absolute;
    background-color: white;
    left: 230px;
    right: 230px;
    top: 710px;
    height: 940px;
    border: solid 2px black;
    z-index: 2;
}